<footer class="post-footer">
    <div class="post-action">
        <a class="post-link primary" href="https://getpocket.com/save?url={{url absolute="true"}}"
            target="_blank" rel="noopener">Read Later</a>
    </div>
</footer>
